<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/boss-touch180.png" sizes="180x180">
    <link rel="icon" href="/img/boss256.png" sizes="256x256" type="image/png">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="css/invoice.css">
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .container {
  max-width: 960px;
}
      </style>

    {% block head %}
        <title>{% block title %}Invoice Example{% endblock %}</title>
    {% endblock %}

  </head>
  <body class="bg-light">


    <div class="container">
        <main>
{% block content %}{% endblock %}
        </main>
      
        <footer class="my-5 pt-5 text-muted text-center text-small">
            {% block footer %}
          <p class="mb-1">&copy; 2021 {{ ORG_NAME }}</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
          </ul>
    {% endblock %}

        </footer>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  

    {% block script %}{% endblock %}

</body>
</html>