{% extends "base.twig" %}

{% block content %}

    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/img/bosslogo-blue-200.png" alt="" height="64">
        <h2>Please select an example</h2>
            <a href="step1.php"><button type="button" class="btn btn-primary">Invoice example</button></a>
        <a href="payroll-step1.php"><button type="button" class="btn btn-primary">Payroll Example</button></a>
        <a href="embedded-step1.php"><button type="button" class="btn btn-primary">Embedded Example</button></a>

    </div>

{% endblock %}