{% extends "base.twig" %}

{% block content %}

    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ BRAND_LOGO }}" alt="" height="64">
        <h2>Invoice Example - Step 4</h2>
        <p class="lead">Using Accounting App Data To Show A List Of Invoices For Factoring</p>
    </div>
    <hr>

    <div class="d-flex justify-content-center row g-5 text-center">
        <i class="d-flex justify-content-center align-items-center  checkmark">✓</i>
        <h2 class="text-success">SUCCESS!</h2>
        <p class="fs-4 fw-normal text-center my-1">The funds will be transferred to your account soon.</p>
        <p class="fs-4 fw-normal text-center my-1">Thank you for the privilege of your business. Let us know if we can help in the future.</p>
        <p class="list-inline-item"><a href="/step1.php">Home</a></p>
    </div>

{% endblock %}
